.ggouv-mention, .ggouv-hashtag {
	text-decoration: underline;
	cursor: pointer;
	color: #4690D6;
}
#innerdocbody {
	font-size: 14px;
	line-height: 18px;
	color: #111;
}
.tasklist-not-done {
	background-position: 2px 3px;
	padding-left: 1.3em;
}
#outerdocbody > iframe {
	padding: 0 11px;
	box-sizing: border-box;
}
.sidedivdelayed {
	border: none;
}
body.grayedout {
	background: transparent !important;
	opacity: 0.5;
}
#outerdocbody.grayedout:before {
	content: " ";
	width: 100%;
	height: 200%;
	bottom: -100%;
	background-image: -webkit-gradient(linear, 12.2247% 123.9224%, 87.7753% -23.9224%, color-stop(10%, rgba(255, 255, 255, 0.5)), color-stop(10%, rgba(0, 0, 0, 0)), color-stop(20%, rgba(0, 0, 0, 0)), color-stop(20%, rgba(255, 255, 255, 0.5)), color-stop(30%, rgba(255, 255, 255, 0.5)), color-stop(30%, rgba(0, 0, 0, 0)), color-stop(40%, rgba(0, 0, 0, 0)), color-stop(40%, rgba(255, 255, 255, 0.5)), color-stop(50%, rgba(255, 255, 255, 0.5)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(60%, rgba(0, 0, 0, 0)), color-stop(60%, rgba(255, 255, 255, 0.5)), color-stop(70%, rgba(255, 255, 255, 0.5)), color-stop(70%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(255, 255, 255, 0.5)), color-stop(90%, rgba(255, 255, 255, 0.5)), color-stop(90%, rgba(0, 0, 0, 0)));
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.5) 10%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 20%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.5) 30%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 40%, rgba(255, 255, 255, 0.5) 40%, rgba(255, 255, 255, 0.5) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 60%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0.5) 70%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 80%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0.5) 90%, rgba(0, 0, 0, 0) 90%);
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.5) 10%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 20%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.5) 30%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 40%, rgba(255, 255, 255, 0.5) 40%, rgba(255, 255, 255, 0.5) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 60%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0.5) 70%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 80%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0.5) 90%, rgba(0, 0, 0, 0) 90%);
	background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, 0.5) 10%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 20%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.5) 30%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 40%, rgba(255, 255, 255, 0.5) 40%, rgba(255, 255, 255, 0.5) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 60%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0.5) 70%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 80%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0.5) 90%, rgba(0, 0, 0, 0) 90%);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.5) 10%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 20%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.5) 30%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 40%, rgba(255, 255, 255, 0.5) 40%, rgba(255, 255, 255, 0.5) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 60%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0.5) 70%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 80%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0.5) 90%, rgba(0, 0, 0, 0) 90%);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.5) 10%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 20%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.5) 30%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 40%, rgba(255, 255, 255, 0.5) 40%, rgba(255, 255, 255, 0.5) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 60%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0.5) 70%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 80%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0.5) 90%, rgba(0, 0, 0, 0) 90%);
	display: block;
	position: absolute;
	margin: 0 !important;
	z-index: 999;
	background-color: rgba(0,0,0,0.25);
}
li.tasklist-not-done, li.tasklist-done {
	list-style: none;
	padding-left: 20px;
	background-position: 2px 3px;
	background-repeat: no-repeat;
	cursor: pointer;
}
li.tasklist-not-done{
	background-image: url('/static/plugins/ep_ggouv/static/img/tasklist.png');
}
li.tasklist-done{
	background-image: url('/static/plugins/ep_ggouv/static/img/tasklist-done.png');
}
li.tasklist-done span {
	opacity: 0.8;
}

/*li.tasklist-not-done:before, li.tasklist-done:before {
	background-position: 2px 2px;
	content: "    ";
	background-repeat: no-repeat;
	cursor: pointer;
	padding-right: 2px;
}
li.tasklist-done:before {
	background-image: url('/static/plugins/ep_tasklist/static/img/tasklist-done.png');
}
li.tasklist-not-done:before {
	background-image: url('/static/plugins/ep_tasklist/static/img/tasklist.png');
}
.tasklist-done span {
	position: relative;
}
.tasklist-done span:before {
	content: " ";
	border-top: 2px solid rgba(0,0,0,0.3);
	width: 100%;
	position: absolute;
	top: 9px;
	pointer-events: none;
}*/