/* popups */
#settings, #importexport, #embed, #connectivity, #users {
	background:#EEE;
	border:none;
	right:0;
	border-radius:0;
	-webkit-box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.3);
	box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.3);
	top: 40px;
}
#connectivity {
	width: 260px;
	margin: 10px;
	background: rgba(0,0,0,0.8);
	-webkit-box-shadow: 3px 3px 6px rgba(0,0,0,0.4);
	box-shadow: 3px 3px 6px rgba(0,0,0,0.4);
	border-radius: 4px;
}
#connectivity.popup {
	color: white;
}
#connectivity.popup h1 {
	color: white;
	padding: 5px 0;
}
#connectivity.popup h2 {
	color: rgba(255, 255, 255, 0.8);
	padding: 5px 0;
}
#forcereconnect {
	margin: 10px 0 5px;
}
#myusernameedit {
	border:none !important;
	font-weight:bold;
	font-size: 16px;
	color: #555;
}
#myusernameedit.noedit {
	background: transparent;
}
#myusernameedit.noedit:hover, #myusernameform .noedit.editactive, #otheruserstable .usertdname:hover {
	cursor: pointer;
	background: transparent;
	color: #4690D6;
	text-decoration: underline;
}
/*
#myuser .myusernameedithoverable:hover {
	background: transparent;
	color: #4690D6;
	text-decoration: underline;
}
#myusernameform .editactive {
	background: transparent;
}*/
.usertdname input.editempty {
	background: transparent;
	border: none;
	pointer-events: none;
}
#nootherusers:empty {
	padding: 3px 0 0;
}
#editorcontainer {
	top: 40px;
}
#users {
	padding: 8px 8px 2px;
}
#myswatchbox {
	top: 8px;
	left: 8px;
}
#mycolorpicker {
	left: -240px;
	border: none;
	-webkit-box-shadow: -3px 3px 3px #ccc;
	box-shadow: -3px 3px 3px #ccc;
	background: #EEE;
	border-radius: 0;
	overflow: hidden;
}
#mycolorpickersave {
	width: 90px;
}
#mycolorpickercancel {
	left: 110px;
}
#mycolorpickerpreview {
	bottom: -20px;
	top: initial;
	right: -20px;
	left: initial;
	width: 80px;
	height: 80px;
	border-radius: 100px 0 0 0;
}
#otheruserstable .swatch {
	margin: 0 9px 0 8px;
}
#linkcode {
	margin-top: 10px;
}
#embedreadonly {
	padding: 2px 5px;
}
input[type=checkbox] {
	vertical-align: 0px;
	margin: 4px;
}
#settings {
	width: 380px;
}
#settings h2 {
	display: none;
}
#settings .column {
	padding-top: 10px;
}
#settings .column table {
	position: absolute;
	top: 42px;
	right: 10px;
}
#settings .column table label {
	padding-right: 5px;
	float: right;
}
#importexport {
	width: 250px;
}
#importexport h2 {
	padding: 10px 0 5px;
}
#exportColumn {
	margin-top: 5px;
}

/* editbar */
::selection {
	background: transparent;
	color: transparent;
}
::-moz-selection {
	background: transparent;
	color: transparent;
}
#editbar {
	background:#EEE;
	border:none;
	padding-top: 6px;
	height: 40px;
	padding-left: 17px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
#underline {
	display: none;
}
#outdent a {
	border-radius: 0;
}
#tasklist {
	display: none;
}
.buttonicon-tasklist{
	background-image: url('/static/plugins/ep_ggouv/static/img/tasklist-done.png');
	background-position: 1px 2px;
}
#redo + .separator {
	display: none;
}
#headings {
	cursor: pointer;
	background: #fff;
	background: -webkit-linear-gradient(#fff, #f0f0f0);
	background: -moz-linear-gradient(#fff, #f0f0f0);
	background: -o-linear-gradient(#fff, #f0f0f0);
	background: -ms-linear-gradient(#fff, #f0f0f0);
	background: linear-gradient(#fff, #f0f0f0);
}
#headings:hover {
	background: #fff;
	background: -webkit-linear-gradient(#f4f4f4, #e4e4e4);
	background: -moz-linear-gradient(#f4f4f4, #e4e4e4);
	background: -o-linear-gradient(#f4f4f4, #e4e4e4);
	background: -ms-linear-gradient(#f4f4f4, #e4e4e4);
	background: linear-gradient(#f4f4f4, #e4e4e4);
}
#headings:after {
	content: "▼";
	color: #666;
	position: relative;
	top: -18px;
	right: -45px;
	pointer-events: none;
	font-size: 8px;
	display: block;
}
#heading-selection {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	padding: 2px 11px;
	width: 65px;
	cursor: pointer;
}
#insertSignature span {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAGeSURBVDjLvZPPK4NxHMe/F4dFymE8hx2YpEn+gWcHR20au4gdbCcnu3l6TqL8yO9oYSJmYbNSFsraZCSlbHJANEabaZtFYUzW29cOojzyK4f37ft6vz71/XwIAPKbkD8r4Hkeb6PX66HVaqFSqSCXyyGTycAwDLKyJchk8vGjCTTjATHNPk2MpujDCT4zl7etot8ZwYDjAuqBg6ii01v0LXMfBV27McxthMGbDsByTvvrI2rmqJmjZo6aOWrmqJnLkZY0V/Rsh7uXgim4w+bH+PI5ajs3UayzTgtaEy7C+BfztHZLzeWw3f0O1rSsoaB6wpVbaRQJwcoHN4N7jxoJXxdi8+mw2EZTcFXTCijokigNIsFfiC8T9QucvFlHMjKCRNCK0Ewa+NZuUPAVFiy4XSKauEeDp8ggnk50SEbNuNqqR2OD4ugtLFhwbSd1t9463JyZ8BgYwZ1vAmFHGbyGDNWXVjk2R4YOF0oRXShEYJLsnI4R87GR9O71EbFgAcuyszRrcpZdt7VLE6EpMhYwkcJvH1PYSsQUFv/bNT4D22mzuYC6IhwAAAAASUVORK5CYII=");
	background-repeat: no-repeat;
}
.toolbar ul {
	padding: 0;
	overflow: visible;
}
.toolbar ul li.separator {
	padding: 1px;
}
#usericon a {
	border: none;
	height: 24px;
	padding: 8px;
	margin-top: -6px;
	border-radius: 0;
	background: #EEE;
}
#usericon a #online_count {
	color: #666;
	font-size: 16px;
	top: 4px;
	font-weight: bold;
}

/* chat */
#chaticon {
	border: none;
	background: #EEE;
	border-radius: 0;
	right: 0;
	padding: 10px 10px 8px;
}
#chaticon:hover {
	background: #DDD;
}
#chatlabel {
	font-size: 16px;
	margin: 5px;
}
#chatcounter {
	font-size: 16px;
	padding: 5px;
	font-weight: bold;
	color: #555;
}
.buttonicon-chat {
	margin-top: -2px;
}
#chatbox {
	display: block;
	right: 0;
	border-radius: 0;
	border: 2px solid #EEE;
	border-right: 0;
	background: #EEE;
	width: 185px;
}
#chatbox.stickyChat {
	border-left: 2px solid #EEE !important;
}
#titlelabel {
	font-size: 15px;
}
#chattext {
	border: none;
	font-size: 13px;
	bottom: 24px;
}
#chattext p {
	background: transparent;
	color: #333;
}
.stickyChat #chattext {
	bottom: 26px;
}
#chattext .time {
	margin: 0px;
	padding: 1px 2px 1px 1px;
}
#chatinput {
	font-size: 13px;
	padding: 1px 3px 2px;
	color: #222;
	width: 180px;
	margin-bottom: -3px;
}
#chatinput:focus, #chatinput:focus {
	border: solid 1px #4690d6;
	outline: none;
	background: #e4ecf5;
}
.stickyChat #chatinput {
	margin-bottom: -1px;
}
#gritter-notice-wrapper.bottom-right {
	bottom: 50px;
}

.tipsy { font-weight: bold; font-size: 10px; position: absolute; padding: 5px; z-index: 100000; }
.tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

/* Rounded corners */
.tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

/* Uncomment for shadow */
.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }

.tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }

/* Rules to colour arrows */
.tipsy-arrow-n { border-bottom-color: #000; }
.tipsy-arrow-s { border-top-color: #000; }
.tipsy-arrow-e { border-left-color: #000; }
.tipsy-arrow-w { border-right-color: #000; }

.tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
.tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }

@media screen and (max-width: 671px) {
	.toolbar ul li.separator {
		display: none;
	}
	.toolbar ul li a {
		padding: 4px 2px
	}
	#usericon a {
		padding: 8px 2px;
	}
	#headings:after {
		right: -35px;
	}
	#heading-selection {
		width: 50px;
		padding: 2px 5px;
	}
	#innerdocbody {
	font-size: 12px;
	line-height: 16px;
	}
}
@media all and (max-width: 514px){
	#gritter-notice-wrapper{
		max-height:172px;
		overflow:hidden;
		width:100% !important;
		background-color: #ccc;
		bottom:20px;
		left:0px;
		right:0px;
		color:#000;
	}
	.gritter-close {
		display:block !important;
		left: auto !important;
		right:5px;
	}
	#gritter-notice-wrapper.bottom-right{
		left:0px !important;
		bottom:30px !important;
		right:0px !important;
	}
	.gritter-item p{
		color:black;
		font-size:16px;
	}
	.gritter-title{
		text-shadow: none !important;
		color:black;
	}
	.gritter-item{
		padding:2px 11px 8px 4px;
	}
	.gritter-item-wrapper{
		margin:0;
	}
	.gritter-item-wrapper > div{
		background: none;
	}
	#editorcontainer {
		top: 70px;
	}
	#editbar {
		height: 70px;
	}
	.toolbar ul.menu_right {
		float: left;
		margin-top: 0;
		clear: both;
	}
	.popup {
		top: 70px !important;
	}
	#usericon {
		position: fixed;
		top: 0;
		right: 0;
	}
	#usericon a {
		padding: 11px 5px 5px;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 720px) {
    #users {
      top: 36px;
      bottom: 40px;
      border-radius: none;
    }
    #mycolorpicker {
      left: -73px;
      /* #mycolorpicker: width -#users: width */;
    }
    #editorcontainer {
      margin-bottom: 33px
    }
    .toolbar ul.menu_right {
      background: #f7f7f7;
      background: -webkit-linear-gradient(#f7f7f7, #f1f1f1 80%);
      background: -moz-linear-gradient(#f7f7f7, #f1f1f1 80%);
      background: -o-linear-gradient(#f7f7f7, #f1f1f1 80%);
      background: -ms-linear-gradient(#f7f7f7, #f1f1f1 80%);
      background: linear-gradient(#f7f7f7, #f1f1f1 80%);
      width: 100%;
      overflow: hidden;
      height: 32px;
      position: fixed;
      bottom: 0;
      border-top: 1px solid #ccc;
    }
    .toolbar ul.menu_right > li:last-child {
      float: right;
    }
    .toolbar ul.menu_right > li a {
      border-radius: 0;
      border: none;
      background: none;
      margin: 0;
      padding: 8px;
    }
    .toolbar ul li a.selected {
      background: none !important
    }
    #chaticon, #timesliderlink {
      display: none !important
    }
    .popup {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
    }
    #settings,
    #importexport,
    #connectivity,
    #embed {
      left: 0;
      top: 0;
      bottom: 33px;
      right: 0;
    }
    .toolbar ul li .separator {
      display: none
    }
    #online_count {
      line-height: 24px
    }
}